<h1>Welcome to the Link Shortener</h1>
<h2>For all your shortening needs</h2>

<a href="/links" class="btn btn-success">Leaderboard</a>

<form action="/links" method="POST" role="form">
  <div class="form-group">
    <label for="urlToShorten">URL</label>
    <input type="url" class="form-control" id="urlToShorten" placeholder="http://www.example.com" name="urlToShorten">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>