<h1>Your link has been created.</h1>

<h4>Your Link:
  <a href="/<%= hashValue %>" target="_blank">http://fhergomez/<%= hashValue %></a>
</h4>

<a href="/links" class="btn btn-primary">Leaderboard</a>
<a href="/" class="btn btn-success">Add a New Link</a>
